{% load wiki_tags i18n humanize %}
<tr>
    <td>
        {% for urlpath in article.object.urlpath_set.all %}
            <a href="{% url 'wiki:get' path=urlpath.path %}">{{ article.object.current_revision.title }}<br/>
                <small class="muted">/{{ urlpath.path }}</small>
            </a>
        {% empty %}
            <a href="{% url 'wiki:get' article_id=article.object.id %}">{{ article.object.current_revision.title }}</a>
        {% endfor %}
        {% if article.object.current_revision.deleted %}
            <span class="fa fa-trash"></span>
        {% endif %}
        {% if article.object.current_revision.locked %}
            <span class="fa fa-lock"></span>
        {% endif %}
        {% for highlight in article.highlighted %}
            <p>{{ highlight|make_strong }}</p>
        {% endfor %}
    </td>
    <td style="white-space: nowrap">
        {{ article.object.current_revision.created|naturaltime }}
    </td>
</tr>
